.feed {
    width: 100%;
    /* max-width: 600px; */
    margin: 0 auto;
    background-color: #fafafa;
    overflow-y: scroll;
    height: 90vh;
    /* Make the feed take the full height of the viewport */
    scroll-snap-type: y mandatory;
    /* Enables smooth vertical scrolling for each post */
}

.post {
    border-radius: 0;
    /* No rounded corners to align with Instagram style */
    margin-bottom: 0;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 90vh;
    width: 100%;
    /* Each post will take up the full height of the viewport */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    scroll-snap-align: start;
    /* Ensures each post aligns correctly when scrolling */
}

.post-header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.post-image {
    width: 100%;
    height: 70%;
    /* Takes up 70% of the screen height */
    object-fit: contain !important;
    background-color: #262626;
}

.post-caption {
    margin-top: 10px;
    color: #262626;
    padding: 10px;
}

.icon {
    cursor: pointer;
    margin-right: 8px;
}

.post-actions {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-top: -60px;
    margin-bottom: 0px;
}