/* Ensure the body and html take up the full height */
html,
body,
#root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Main container should take up the remaining space */
.main-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  /* Changed to row to accommodate sidebar */
}

/* Footer should be at the bottom */
.footer {
  margin-top: auto;
}

.App {
  text-align: center;
  margin: 20px;
}

.image-preview-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.preview-image {
  max-width: 100px;
  max-height: 100px;
  margin: 5px;
  border: 1px solid #fff;
  cursor: pointer;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  margin: 15% auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin: 10px;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.loading-overlay {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  justify-content: center;
  align-items: center;
}

.loading-text {
  color: white;
  font-size: 24px;
}

.sidebar {
  width: 250px;
  padding: 10px;
  background-color: #f0f0f0;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  /* Make sidebar fixed */
  top: 0;
  left: 0;
  z-index: 1000;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 0;
  font-size: 18px;
  cursor: pointer;
}

.sidebar ul li:hover {
  background-color: #e0e0e0;
}

.feed {
  flex: 1;
  margin-left: 270px;
  /* Adjust margin to accommodate fixed sidebar */
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.post {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
}

.post-header {
  display: flex;
  justify-content: space-between;
}

.post-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
}

.post-caption {
  margin-top: 10px;
}

.sidebar {
  flex: 0.3;
}

.feed {
  flex: 0.7;
}